.edit-exhibition-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #333; 
}

.title {
    color: white;
    margin: 0;
  }
  
  .toggle-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: #0056b3;
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form textarea {
    resize: vertical;
  }
  
  .submit-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .details p {
    margin: 10px 0;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  .loading {
    text-align: center;
    font-size: 1.2em;
  }
  